.marquee {
  width: 100%;
  margin: 80px 0;
  overflow: hidden; // Прячем то, что выходит за границы экрана
  display: flex;
  white-space: nowrap;

  &__inner {
    display: flex;
    align-items: center;
    gap: 30px; // Отступ между лого и точками
    animation: scrollMarquee 25s linear infinite;
    width: max-content;
    flex-shrink: 0;
  }

  &__dot {
    color: #dfe6ec;
    font-size: 25px;
    opacity: 0.5;
  }

  &__logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
}

// Анимация движения влево
@keyframes scrollMarquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); // Двигаем ровно на половину общей длины
  }
}

// Адаптивность под планшет и мобилку
@media (max-width: 1023px) {
  .marquee {
    margin: 60px 0;
    &__inner {
      animation-duration: 25s;
    }
  }
}

@media (max-width: 767px) {
  .marquee {
    margin: 40px 0;
    &__inner {
      animation-duration: 25s;
    }
  }
}
